/* line 4, landing_page_block.scss */
#block-landing-page-block-landing-page-block-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: whitesmoke;
  opacity: 0;
  animation: fadeout 4s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  /* Firefox */
  -webkit-animation: fadeout 4s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  /* Chrome, Safari, Opera */
}
/* line 15, landing_page_block.scss */
#block-landing-page-block-landing-page-block-block .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

@keyframes fadeout {
  /* line 25, landing_page_block.scss */
  0% {
    opacity: 1;
    z-index: 999999;
  }

  /* line 26, landing_page_block.scss */
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes fadeout {
  /* line 30, landing_page_block.scss */
  0% {
    opacity: 1;
    z-index: 999999;
  }

  /* line 31, landing_page_block.scss */
  100% {
    opacity: 0;
    z-index: -1;
  }
}
