$sequoia_body_bg: whitesmoke;
// $sequoia_body_bg: rgba(254, 249, 235, 1);

#block-landing-page-block-landing-page-block-block {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background: $sequoia_body_bg;
	opacity: 0;
	animation: fadeout 4s cubic-bezier(0.755, 0.050, 0.855, 0.060); /* Firefox */
  -webkit-animation: fadeout 4s cubic-bezier(0.755, 0.050, 0.855, 0.060); /* Chrome, Safari, Opera */
	.content {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
	}
}

@keyframes fadeout {
      0% { opacity: 1; z-index: 999999 }
    100% { opacity: 0; z-index: -1 }
}

@-webkit-keyframes fadeout {
      0% { opacity: 1; z-index: 999999 }
    100% { opacity: 0; z-index: -1 }
}